* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #ffffff;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-family: "Audiowide", sans-serif;
    background-color: #ffffff;
    color: #000000;
    border-bottom: 10px solid #4f5055;
  }
  
  header h1 {
    font-size: 48px;
    text-shadow: 3px 3px 3px #ababab;
  }
  
  nav {
    font-size: 20px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 25px;
  }
  
  a {
    color: #000000;
    font-size: 16px;
    font-family: "SuiseeIntl-Regular", sans-serif;
    text-decoration: none;
  }

  .header-buttons {
    display: flex;
    align-items: center;
    font-family: "SuisseIntl-Regular", sans-serif;
  } 

  .header-buttons button {
    margin-left: 10px;
    padding: 8px 16px;
    border: 1px solid #000000;;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }

  .header-buttons button:nth-child(1) {
    background-color: #fff;
    color: #000;
  }
  
  .header-buttons button:nth-child(2) {
    background-color: #444;
    color: #fff;
  }

  .header-buttons button:hover {
    background-color: #000;
    color: #fff;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    padding: 5px;
    margin-left: 20px;
  }
  
  .search-bar input[type="text"] {
    padding: 8px;
    border: none;
    width: 850px;
  }
  
  .search-bar button {
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }

  .header-nav {
    text-align: center;
    background-color: #ebe6e6;
  }
  
  .header-nav ul {
    list-style-type: none;
  }
  
  .header-nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .header-nav a {
    color: #000000;
    font-size: 18px;
    font-family: "SuiseeIntl-Regular", sans-serif;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
  }
  
  .header-nav a:hover {
    border-bottom: 2px solid #000000;
  }
  
  
  
  main {
    padding-top: 50px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .box {
    width: 190.66px; /* Updated */
    height: 249.5px; /* Updated */
    margin: 10px;
    padding: 10px;
    border: 0.5px solid #e4dddd;
    text-align: left;
    box-sizing: border-box; /* Added */
  }
  
  .shoe-image {
    object-fit: contain;
    max-width: 100%;
  }
  
  .shoe-name {
    text-align: left;
    font-family: "SuiseeIntl-Regular", sans-serif;
    font-size: 14px;
  }
  
  .shoe-info {
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
  }
  
  .shoe-info-line {
    margin-bottom: 5px;
  }
  
  .label {
    font-size: 12px;
    font-family: "SuiseeIntl-Regular", sans-serif;
    color: #888;
  }
  
  .value {
    font-size: 20px;
    font-weight: bold;
    font-family: "SuiseeIntl-Regular", sans-serif;
  }

  .labelowest {
    font-size: 12px;
    font-family: "SuiseeIntl-Regular", sans-serif;
    background-color: #eee;
    width: 94.47px;
    height: 22px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
  }
  
  
  footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  